.sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/brushes-g25e26e696_1920.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top:20px;
    font-size: 50px;
}

#we-share{
color: #f44336;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
    max-width: 60vw;
}

.hero-btn.red-btn{
    border: 1px solid #000000;
    background: transparent;
    color: #a8a8a8;
  
}
.hero-btn.red-btn:hover{
    border: 1px solid #000000;
    background: #a8325a;
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #f44336;
}
.hero-btn.red-btn::before{
    background: #f44336;
}
.content-image{
    flex-basis: 50%;
}
.about-col img{

    max-width: 70vw;
}

@media (max-width:700px){
    .sub-header .header-div{
        font-size: 34px;
    }
    

} 