
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}

.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.courses-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.courses-col img{
    width: 100%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    background: rgba(92, 92, 92, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 
