
.header{
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.nav-bg{
    max-height: 10vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(27, 27, 27, 0.7)) ,url(../images/poster.png);
}

#videoBg{
    min-height: 100vh;
    min-width: 100%;
position: static;
z-index: -1;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}

.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 80px 0;
}
.courses h1 {
    font-size: 40px;
    margin: 10px;
}
.courses-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.courses-col img{
    width: 100%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    background: rgba(92, 92, 92, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


@media (max-width:700px){
    
.header{
    height: 80vh;
}

    .row{
        flex-direction: column;
    }

} 



/* @media (max-aspect-ratio: 16/9) {
#videoBg{
    width: 100%;
    height: auto;
}

}
@media (min-aspect-ratio: 16/9) {
    #videoBg{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    .header {
        background: url('../images/poster.png');
        background-size: cover;
    }
}
 */
