.sub-header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(134, 144, 185, 0.7)) ,url(../images/loginbg.jpg);

}

main{
    width: 100vw;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
justify-content: space-around;    min-height: 70vh;
    margin: auto;
}
#left-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(134, 144, 185, 0.7)) ,url(../images/loginbg.jpg);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    margin: 100px 1px;
     

}

.right-div{
    margin: 100px;
    width: 30%;


}
.right-div img{
    height:30vh;
    width: 30vw;
    max-width:500px;

}

input[type=text ] ,[type=email ]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;

  }
@media (max-width: 1000px) {
    .sub-header{
    height: 10vh;
    }
    main{
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        max-height: 40vh;
        padding: 30px;

    }
   
    #left-div{
        height: 100vh; 
        margin-top: 30px;
    }
   
    
    .right-div {
    display: none;
    
    }
}